.Login_form{
width:100%;
max-width: 330px;
padding:15px ;
margin: auto;
height: 100%;
text-size-adjust: 50%;
background-color: rgb(58, 9, 9);
color: rgb(236, 231, 231);
}


/* *{
    margin: 0;
    padding: 0;
   } 
   */